<template>
  <div id="app">
    <div class="hbsp">
      火爆商品 
    </div>
    <div class="box">
        <div class="box-a">
          <div class="box-a-img">
            <img class="img-a" src="https://img.js.design/assets/img/61405df9a781860684064223.png" alt="">
          </div>
                  <div class="box-a1">Fruit T恤</div>
                   <div class="box-a2">￥700</div>
        </div>
        <div class="box-b">
          <div class="box-b-img">
            <img class="img-b" src="https://img.js.design/assets/img/61405dfba781860684064249.png" alt="">
          </div>
                  <div class="box-b1">Fruit T恤</div>
                   <div class="box-b2">￥700</div>
        </div>
        <div class="box-a">
          <div class="box-a-img">
            <img class="img-a" src="https://img.js.design/assets/img/61405df9a781860684064223.png" alt="">
          </div>
                  <div class="box-a1">Fruit T恤</div>
                   <div class="box-a2">￥700</div>
        </div>
        <div class="box-b">
          <div class="box-b-img">
            <img class="img-b" src="https://img.js.design/assets/img/61405dfba781860684064249.png" alt="">
          </div>
                  <div class="box-b1">Fruit T恤</div>
                   <div class="box-b2">￥700</div>
        </div>
    </div>
    <div class="box1">
      <!-- <div class="a1">
         <div class="b1">全部</div>
         <div class="b2">款式新</div>
         <div class="b3">销量高</div>
         <div class="b4">好评</div>

      </div> -->
         <ul class="center">
            <li class="zz">
                <div class="center_w">全部</div>
            </li>
            <li class="zz">
                <div class="center_e">款式新</div>
            </li>
            <li class="zz">
                <div class="center_r">销量高</div>
            </li>
            <li class="zz">
                <div class="center_t">好评多</div>
            </li>
        </ul>
      <div class="home">
    <GoodsItem
      v-slot="_item"
      :item="item"
      v-for="item in lists"
      :key="item._id"
    >
    </GoodsItem>
  </div>
    </div>
  </div>
</template>
<script>
import GoodsItem from "./components/GoodsItem.vue";
import axios from 'axios'
import Vue from "vue";
export default Vue.extend({
  name: "Home",
  components: {
    GoodsItem,
  },
  data() {
    return {
      lists: [],
    };
  },
  methods: {
    getGoodsLists() {
      axios("https://dahua0822-api.herokuapp.com/goods")
        .then((res) =>{
          const lists = res.data.data.data
          console.log(lists)
          this.lists = lists
        })
        .catch((err)=>{
          console.log(err)
        })
    },
  },
  created() {
    this.getGoodsLists();
  },
})
</script>
<style lang="scss">
  *{
    margin: 0;
    padding: 0;
  }
  #app{
    width: 100%;
  }
body{
  background-color: rgba(235, 236, 237, 1);
}
.hbsp{
display: flex;
width: 56px;
height: 16px;
opacity: 1;
margin: 10px 10px 10px 10px;
/** 文本1 */
font-size: 14px;
font-weight: 700;
color: rgba(26, 26, 26, 1);
}
.box{
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  // justify-content: space-between;
}
.box-a{
width: 168px;
height: 222px;
opacity: 1;
border-radius:8%;
background: rgba(255, 255, 255, 1);
margin-left:25px;
}
.box-a-img{
 width: 168px;
height: 146px;
opacity: 1;
background: rgba(218, 216, 219, 1);
// 上右下左
border-radius:8%;
}
.img-a{
width: 129.26px;
height: 155.57px;
opacity: 1;
margin-top:9px ;
margin-bottom: 1px;
margin-left:19px ;
margin-right: 19px;
}
.box-a1{
width: 54px;
height: 14px;
opacity: 1;
/** 文本1 */
font-size: 12px;
font-weight: 700;
color: rgba(26, 26, 26, 1);
 margin-top:20px;
margin-left:18px ;
margin-right: 96px;
 }
 .box-a2{
width: 39px;
height: 19px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 700;
color: rgba(26, 26, 26, 1);
 margin-top:12px;
margin-left:18px ;
margin-right:111px;
 }
.box-b{
width: 168px;
height: 222px;
margin-left:40px ;
opacity: 1;
border-radius:8%;
background: rgba(255, 255, 255, 1);
}
i
.box-b-img{
 width: 168px;
height: 146px;
opacity: 1;
background: rgba(218, 216, 219, 1);
// 上右下左
border-radius:8%;
}
.img-b{
width: 168px;
height: 146px;
opacity: 1;
border-radius:8%;
}
.box-b1{
width: 54px;
height: 14px;
opacity: 1;
/** 文本1 */
font-size: 12px;
font-weight: 700;
color: rgba(26, 26, 26, 1);
 margin-top:8px;
margin-left:18px ;
margin-right: 96px;
 }
 .box-b2{
width: 39px;
height: 19px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 700;
color: rgba(26, 26, 26, 1);
 margin-top:12px;
margin-left:18px ;
margin-right:111px;
 }
//  .a1{
// height: 44px;
// margin-top:20px;
// margin-left:25px;
// opacity: 1;
// background: rgba(247, 247, 250, 1);
// display:flex;
// overflow-x: auto;
//  }
//  .b1{
// width: 44px;
// height: 44px;
// opacity: 1;
// border-radius:25%;
// background: rgba(255, 223, 117, 1);
// font-size: 14px;
// font-weight: 700;
// text-align: center;
// line-height: 44px;
//  }
//  .b2{
// width: 99.23px;
// height: 44px;
// margin-left:20px ;
// opacity: 1;
// border-radius:25%;
// background: rgba(255, 255, 255, 1);
// font-size: 14px;
// font-weight: 700;
// text-align: center;
// line-height: 44px;
//  }
//  .b3{
// width: 99.23px;
// height: 44px;
// margin-left:20px ;
// opacity: 1;
// border-radius:25%;
// background: rgba(255, 255, 255, 1);
// font-size: 14px;
// font-weight: 700;
// text-align: center;
// line-height: 44px;
//  }
//  .b4{
//   width: 99.23px;
// height: 44px;
// margin-left:20px ;
// opacity: 1;
// border-radius:25%;
// background: rgba(255, 255, 255, 1);
// color: black;
// font-size: 14px;
// font-weight: 700;
// text-align: center;
// line-height: 44px;
//  }
.center {
  display: flex;
  overflow-x: auto;
  list-style: none;
  margin-top: 32px;
}

.center_w {
  font-size: 14px;
font-weight: 700;
  width: 44px;
  height: 44px;
  opacity: 1;
  text-align: center;
  line-height: 44px;
  border-radius: 25%;
  background: rgba(255, 223, 117, 1);
}

.center_e {
  font-size: 14px;
font-weight: 700;
  border-radius: 10%;
  text-align: center;
  line-height: 44px;
  width: 100px;
  height: 44px;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

.center_r {
  border-radius: 10%;
  text-align: center;
  line-height: 44px;
  width: 99.23px;
  height: 44px;
  opacity: 1;
  font-size: 14px;
 font-weight: 700;
  background: rgba(255, 255, 255, 1);
}

.center_t {
  width: 99.23px;
  height: 44px;
  font-size: 14px;
font-weight: 700;
  text-align: center;
  line-height: 44px;
  border-radius: 10%;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

.zz {
  margin-left: 20px;
}

 .home{
 margin-left: 20px;
  margin-top:15px;;
 }
</style>
